<div class="center">
    <div class="folderContainer">
        <nav class="folderNav">
            <%- include("./errors.ejs") %>
            <form action="/addFolder" method="POST">
                <input id="addFolder" name="addFolder" type="text"> <button type="submit">Add a folder</button>
            </form>
        </nav>
        <% folders.forEach((folder) => { %>
            <div class="card">
                <%- folder.title %>
                <div class="buttonContainer">
                    <form action="/deleteFolder" method="POST">
                        <button type="submit" name="folder_id" value="<%= folder.id %>" class="deleteFolderBtn"></button>
                    </form>
                    <form action="/editFolder" method="POST">
                        <button type="submit" name="folder_id" value="<%= folder.id %>" class="editFolderBtn"></button>
                    </form>
                    <form action="/fileFolder" method="POST">
                        <button type="submit" name="folder_id" value="<%= folder.id %>" class="fileFolderBtn"></button>
                    </form>
                </div>
            </div>
        <% }); %>
    </div>
</div>